<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PMGSY VTS - REPORT</title>
<!--    <link rel="shortcut icon" href="../assets/images/favicon.ico">-->

<!--    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css'/>-->
<!--    <link rel="stylesheet" href="../assets/css/style-pdf.css"/>-->

    <!-- <link href="../assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" /> -->
    <!-- <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />  -->
    <style>
         .roadcl{
            border: 1px solid #b9b0b0;
            background-color: lightgrey;
            padding: 4px;
            border-radius: 4px;
        }
        .package{
        background-color: rgb(181, 180, 180);
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
  }




  .table {
    width: 100%;
    margin-bottom: 20px
    margin-right:2
}

.table th,
.table td {
    padding: 3px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #ddd
    border: 1px solid black;
    font-family:sans-serif
    font-size: x-small;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}


    </style>
</head>
<body>
<div id="loadingDiv" style="display: none;"></div>
<div class="container">

    <br />
    <div id="element-to-print">
        <table>
            <tr>
                <td style="text-align:left;border-style: none;text-align:center;"><img src="../assets/images/logo-pdf.png" /></td>
            </tr>
        </table>

       <div id="package_details">
            <div class="heading package" ><span><strong>Package Details</strong></span></div>
           <table class="table2" style="width:100%;!important">

               <tr>
                   <td><strong>Package Name</strong></td>
                   <td>:<span th:text="${package.packageNo}"></span></td>
                   <td><strong>PIU Name</strong></td>
                   <td>:<span th:text="${package.piuName}"></span></td>
               </tr>

               <tr >
                   <td><strong>Award Date</strong></td>
                   <td>:<span th:text="${package.awardDateStr}"></span></td>
                   <td><strong>PMIS Finalize Date</strong></td>
                   <td>:<span th:text="${package.pmisFinalizeDateStr}"></span></td>
               </tr>

               <tr class="test">
                   <td><strong>Work Status</strong></td>
                   <td>:<span th:text="${package.workStatusName}"></span></td>
               </tr>
           </table>

       </div>
        <br/>

            <div class="heading package" ><span><strong>Road Details</strong></span></div>

            <table class="table table-striped" style="width:100%;">
                <thead style="background-color: #c3c3c3;">

                <tr>
                    <th style="width:4% ;">Sl No</th>
                    <th style="width:8% ;">Road Name</th>
                    <th style="width:11% ;">Sanction Date</th>
                    <th style="width:12% ;">Road Length</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="data,iterator : ${road}">
                    <td th:text="${iterator.index+1}" ></td>
                    <td><span th:text = "${data.roadName}"></span></td>
                    <td><span th:text = "${data.sanctionDateStr}"></span></td>
                    <td><span th:text = "${data.roadLength}"></span></td>
                </tr>
                </tbody>
            </table>
        <br/>


            <div class="heading package" ><span><strong>Road Name:</strong></span></div>
            <table style="width:100%;!important">

                <tr>
                    <td><strong>Road Name</strong></td>
                    <td>:<span th:text="${road[0].roadName}"></span></td>
                    <td><strong>Sanction Date</strong></td>
                    <td>:<span th:text="${road[0].sanctionDateStr}"></span></td>
                </tr>

                <tr>
                    <td><strong>Sanction Length</strong></td>
                    <td>:<span th:text="${road[0].roadLength}"></span></td>
                </tr>
            </table>
        <br/>


            <div class="heading package"><span><strong>Activity Details</strong></span></div>
            <table class="table table-striped" style="width:100%;">
                <thead style="background-color: #c3c3c3;">

                <tr>
                    <th style="width:4% ;">Sl No</th>
                    <th style="width:8% ;">Activity Name</th>
                    <th style="width:11% ;">Start Date</th>
                    <th style="width:12% ;">End Date</th>
                    <th style="width:12% ;">Status</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="data,iterator : ${activity}">
                    <td th:text="${iterator.index+1}" ></td>
                    <td><span th:text = "${data.activityName}"></span></td>
                    <td><span th:text = "${data.activityStartDateStr}"></span></td>
                    <td><span th:text = "${data.activityCompletionDateStr}"></span></td>
                    <td><span th:text = "${data.status}"></span></td>
                </tr>
                </tbody>
            </table>
        <br/>

                <div id="">
                    <div class="heading package"><span><strong>Vehicle Details</strong></span></div>

                    <table style="width:100%;!important">

                        <tr>
                            <td><strong>Vehicle No</strong></td>
                            <td>:<span th:text="${vehicle.vehicleNo}"></span></td>
                            <td><strong>Vehicle Type</strong></td>
                            <td>:<span th:text="${vehicle.vehicleTypeName}"></span></td>

                        </tr>

                        <tr>
                            <td><strong>Owner Name</strong></td>
                            <td>:<span th:text="${vehicle.ownerName}"></span></td>

                            <td><strong>Speed Limit</strong></td>
                            <td>:<span th:text="${vehicle.speedLimit}"></span></td>

                        </tr>

                        <tr>
                            <td><strong>Chassis No</strong></td>
                            <td>:<span th:text="${vehicle.chassisNo}"></span></td>

                            <td><strong>Engine No</strong></td>
                            <td>:<span th:text="${vehicle.engineNo}"></span></td>

                        </tr>
                        <tr>
                            <td><strong>IMEI</strong></td>
                            <td>:<span th:text="${vehicle.imeiNo1}"></span></td>

                        </tr>
                    </table>
                    <br/>


                <div class="heading package"><span><strong>Alert Details</strong></span></div>
                <table class="table table-striped" style="width:100%;">
                    <thead style="background-color: #c3c3c3;">

                    <tr>
                        <th style="width:4% ;">Sl No</th>
                        <th style="width:8% ;">IMEI</th>
                        <th style="width:11% ;">Alert Type</th>
                        <th style="width:12% ;">Date</th>
                        <th style="width:12% ;">Latitude</th>
                        <th style="width:12% ;">Longitude</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td ></td>
                        <td></td>

                    </tr>
                    </tbody>
                </table>




        </div>
    </div>
</div>
</body>
</html>
