<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PMGSY VTS - REPORT</title>
    <!--    <link rel="shortcut icon" href="../assets/images/favicon.ico">-->

    <!--    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css'/>-->
    <!--    <link rel="stylesheet" href="../assets/css/style-pdf.css"/>-->

    <!-- <link href="../assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" /> -->
    <!-- <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />  -->
    <style>
         .roadcl{
            border: 1px solid #b9b0b0;
            background-color: lightgrey;
            padding: 4px;
            border-radius: 4px;
        }
        .package{
        background-color: rgb(181, 180, 180);
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
  }




  .table {
    width: 100%;
    margin-bottom: 20px
    margin-right:2
}

.table th,
.table td {
    padding: 3px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #ddd
    border: 1px solid black;
    font-family:sans-serif
    font-size: x-small;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}


    </style>
</head>
<body>
<div id="loadingDiv" style="display: none;"></div>
<div class="container">

    <br />
    <div id="element-to-print">
        <table>
            <tr>
                <td style="text-align:left;border-style: none;text-align:center;"><img src="../assets/images/logo-pdf.png" /></td>
            </tr>
        </table>

        <div id="package_details">
            <div class="heading package" ><span><strong>Package Details</strong></span></div>
            <table class="table2" style="width:100%;!important">

                <tr>
                    <td><strong>Package Name</strong></td>
                    <td>:OR07330</td>
                    <td><strong>PIU Name</strong></td>
                    <td>:DPIU Of Cuttack</td>
                </tr>

                <tr >
                    <td><strong>Award Date</strong></td>
                    <td>:2022-09-14</td>
                    <td><strong>PMIS Finalize Date</strong></td>
                    <td>:2023-04-21</td>
                </tr>

                <tr class="test">
                    <td><strong>Work Status</strong></td>
                    <td>:IN-PROGRESS</td>
                </tr>
            </table>

        </div>
        <br/>

        <div class="heading package" ><span><strong>Road Details</strong></span></div>

        <table class="table table-striped" style="width:100%;">
            <thead style="background-color: #c3c3c3;">

            <tr>
                <th style="width:4% ;">Sl No</th>
                <th style="width:8% ;">Road Name</th>
                <th style="width:11% ;">Sanction Date</th>
                <th style="width:12% ;">Road Length</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>1</td>
                <td>MRL09-Kurumchain to Pathapur via Haliasahi</td>
                <td>2022-03-29</td>
                <td>null</td>
            </tr>
            <tr>
                <td>2</td>
                <td>OTHER</td>
                <td>null</td>
                <td>null</td>
            </tr>
            </tbody>
        </table>
        <br/>


        <div class="heading package" ><span><strong>Road Name:</strong></span></div>
        <table style="width:100%;!important">

            <tr>
                <td><strong>Road Name</strong></td>
                <td>:MRL09-Kurumchain to Pathapur via Haliasahi</td>
                <td><strong>Sanction Date</strong></td>
                <td>:2022-03-29</td>
            </tr>

            <tr>
                <td><strong>Sanction Length</strong></td>
                <td>:6.88</td>
            </tr>
        </table>
        <br/>


        <div class="heading package"><span><strong>Activity Details</strong></span></div>
        <table class="table table-striped" style="width:100%;">
            <thead style="background-color: #c3c3c3;">

            <tr>
                <th style="width:4% ;">Sl No</th>
                <th style="width:8% ;">Activity Name</th>
                <th style="width:11% ;">Start Date</th>
                <th style="width:12% ;">End Date</th>
                <th style="width:12% ;">Status</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>WBM Grading 3</td>
                <td>2023-01-25</td>
                <td>2023-02-20</td>
                <td>COMPLETED</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Granular Sub Base</td>
                <td>2022-11-28</td>
                <td>2023-01-15</td>
                <td>COMPLETED</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Surface Course (OGPC/MSS/CC)</td>
                <td>2023-04-01</td>
                <td>2023-05-31</td>
                <td>COMPLETED</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Preparatory Works</td>
                <td>2022-09-14</td>
                <td>2022-09-30</td>
                <td>COMPLETED</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Earthwork</td>
                <td>2022-09-30</td>
                <td>2022-12-14</td>
                <td>COMPLETED</td>
            </tr>
            <tr>
                <td>6</td>
                <td>WBM Grading 2</td>
                <td>2022-12-24</td>
                <td>2023-02-01</td>
                <td>COMPLETED</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Longitudinal Drains</td>
                <td>2023-04-23</td>
                <td>2023-06-10</td>
                <td>PROVISIONAL</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Field Lab</td>
                <td>2022-09-14</td>
                <td>2022-09-30</td>
                <td>PROVISIONAL</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Protection Works</td>
                <td>2023-05-01</td>
                <td>2023-06-10</td>
                <td>PROVISIONAL</td>
            </tr>
            <tr>
                <td>10</td>
                <td>CD Works</td>
                <td>2022-11-25</td>
                <td>2023-01-15</td>
                <td>PROVISIONAL</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Road Furniture</td>
                <td>2022-09-26</td>
                <td>2023-06-11</td>
                <td>PROVISIONAL</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Base Course / G2-G3 Stage</td>
                <td>null</td>
                <td>null</td>
                <td>PROVISIONAL</td>
            </tr>
            </tbody>
        </table>
        <br/>

        <div id="vehicle_details">
            <div class="heading package"><span><strong>Vehicle Details</strong></span></div>
            <table style="width:100%;">
                <tr>
                    <td><strong>Vehicle No</strong></td>
                    <td>:</td>
                    <td><strong>Vehicle Type</strong></td>
                    <td>:</td>
                </tr>
                <tr>
                    <td><strong>Owner Name</strong></td>
                    <td>:</td>
                    <td><strong>Speed Limit</strong></td>
                    <td>:</td>
                </tr>
                <tr>
                    <td><strong>Chassis No</strong></td>
                    <td>:</td>
                    <td><strong>Engine No</strong></td>
                    <td>:</td>
                </tr>
                <tr>
                    <td><strong>IMEI</strong></td>
                    <td>:</td>
                </tr>
            </table>
        </div>
        <br/>
        <div class="heading package" ><span><strong>Road Name:</strong></span></div>
        <table style="width:100%;!important">

            <tr>
                <td><strong>Road Name</strong></td>
                <td>:OTHER</td>
                <td><strong>Sanction Date</strong></td>
                <td>:null</td>
            </tr>

            <tr>
                <td><strong>Sanction Length</strong></td>
                <td>:0.0</td>
            </tr>
        </table>
        <br/>


        <div class="heading package"><span><strong>Activity Details</strong></span></div>
        <table class="table table-striped" style="width:100%;">
            <thead style="background-color: #c3c3c3;">

            <tr>
                <th style="width:4% ;">Sl No</th>
                <th style="width:8% ;">Activity Name</th>
                <th style="width:11% ;">Start Date</th>
                <th style="width:12% ;">End Date</th>
                <th style="width:12% ;">Status</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>OTHERS</td>
                <td>null</td>
                <td>null</td>
                <td>PROVISIONAL</td>
            </tr>
            </tbody>
        </table>
        <br/>

        <div id="vehicle_details">
            <div class="heading package"><span><strong>Vehicle Details</strong></span></div>
            <table style="width:100%;">
                <tr>
                    <td><strong>Vehicle No</strong></td>
                    <td>:</td>
                    <td><strong>Vehicle Type</strong></td>
                    <td>:</td>
                </tr>
                <tr>
                    <td><strong>Owner Name</strong></td>
                    <td>:</td>
                    <td><strong>Speed Limit</strong></td>
                    <td>:</td>
                </tr>
                <tr>
                    <td><strong>Chassis No</strong></td>
                    <td>:</td>
                    <td><strong>Engine No</strong></td>
                    <td>:</td>
                </tr>
                <tr>
                    <td><strong>IMEI</strong></td>
                    <td>:</td>
                </tr>
            </table>
        </div>
        <br/>
        <div class="heading package"><span><strong>Alert Details</strong></span></div>
        <table class="table table-striped" style="width:100%;">
            <thead style="background-color: #c3c3c3;">

            <tr>
                <th style="width:4% ;">Sl No</th>
                <th style="width:8% ;">IMEI</th>
                <th style="width:11% ;">Alert Type</th>
                <th style="width:12% ;">Date</th>
                <th style="width:12% ;">Latitude</th>
                <th style="width:12% ;">Longitude</th>


            </tr>
            </thead>
            <tbody>
            <tr>

                <td ></td>
                <td></td>

            </tr>
            </tbody>
        </table>




    </div>
</div>
</div>
</body>
</html>
